<div class="card">
    <div class="card-header">
      Miejsca parkingowe
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
            <th scope="col">Akcja</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parkingplace of parkingplaces$ | async">
                <th scope="row" class="py-3 alata-regular">{{ parkingplace.idParkingPlace }}</th>
                <td class="py-3 inriasans-light">{{ parkingplace.place }}</td>
                <td class="py-3 inriasans-light">{{ parkingplace.value }}</td>
                <td class="py-3"><button type="button" class="btn btn-dark alata-regular" (click)="onDelete(parkingplace.idParkingPlace)">Usuń</button></td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>