<div class="container my-5 page">
    <div class="row">
        <div class="col-12 d-flex flex-column">
            <div class="container-fluid p-0 my-3">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <h2 class="alata-regular mb-3" style="font-size: 3rem;">Tabela rodzajów ubezpieczeń</h2>
                    </div>
                    <div class="col-12 col-md-4 d-flex">
                        <button type="button" class="btn btn-dark alata-regular my-auto ml-md-auto" data-toggle="modal" data-target="#addtypeinsurance">Dodaj</button>
                    </div>
                </div>
            </div>
            <p class="inriasans-light mb-3">
                Integer pharetra enim vel vulputate aliquam. Praesent placerat malesuada sapien tincidunt mattis. Praesent sit amet dolor dui. Donec finibus sem id egestas cursus. Morbi sed risus porttitor, imperdiet augue at, rhoncus ante. Aenean gravida dignissim lectus eu cursus. Mauris a enim tristique, lobortis felis ac, luctus risus. Donec in sem quis felis vestibulum mattis a at mauris.
            </p>
        </div>
        <app-add-type-insurance></app-add-type-insurance>
    </div>
    <hr class="divider">
    <div class="row py-3">
        <div class="col-12">
            <app-insurance-item></app-insurance-item>
        </div>
    </div>
</div>