<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F05737;">
    <div class="container-fluid">
      <a class="navbar-brand alata-regular" href="#" style="font-family: 'Alata-Regular';">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 justify-content-center" *ngIf="isLoggedIn$">
          <li class="nav-item" *ngFor="let adminNavs of adminNavs$">
            <app-admin-navs [adminNavs]="adminNavs"></app-admin-navs>
          </li>   
        </ul>
      </div>
    </div>
  </nav>