<div class="container my-5 page">
    <div class="row">
        <div class="col-12">
            <h2 class="alata-regular mb-3" style="font-size: 3rem;">Panel administratora</h2>
        </div>
    </div>
    <hr class="divider">
    <div class="row py-3">
        <div class="col-12 col-md-3" *ngFor="let adminFunc of adminFuncs$">
            <app-admin-func-item [adminFunc]="adminFunc"></app-admin-func-item>
        </div>
        <app-add-type-insurance></app-add-type-insurance>
    </div>
    <div class="row py-3">
        <div class="col-12 col-md-6 pb-5">
            <app-marks-table></app-marks-table>
        </div>
        <div class="col-12 col-md-6 pb-5">
            <app-insurance-item></app-insurance-item>
        </div>
        <div class="col-12 col-md-6 pb-5">
            <app-engine-power-table></app-engine-power-table>
        </div>
        <div class="col-12 col-md-6 pb-5">
            <app-parking-place></app-parking-place>
        </div>
        <div class="col-12 col-md-6 pb-5">
            <app-models-table></app-models-table>
        </div>
        <div class="col-12 col-md-6 pb-5">
            <app-method-use></app-method-use>
        </div>
        <div class="col-12 col-md-6 pb-5">
            <app-type-owner-table></app-type-owner-table>
        </div>
    </div>
</div>