.page {
    height: 80vh;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Alata-Regular';
    src: url('../../../assets/fonts/Alata-Regular.ttf');
}

@font-face {
    font-family: 'InriaSans-Light';
    src: url('../../../assets/fonts/InriaSans-Light.ttf');
}

.alata-regular {
    font-family: 'Alata-Regular';
}

.inriasans-light {
    font-family: 'InriaSans-Light';
}

@media (max-width: 768px)
{
    .mobile-img {
        display: none;
    }
}