<div class="container-fluid page">
    <div class="row">
        <div class="col-12 col-md-6 page mobile-img" 
        style="background-image: url('../../../assets/img/header-start.jpg'); background-size: cover;"></div>
            <div class="col-12 col-md-6 d-flex flex-column">
            <div class="d-flex flex-column my-auto p-5">
                <h3 class="mb-3 alata-regular" style="font-size: 3rem;">Kalkulator <br><span style="color: #F05737;">Super</span> Ubezpieczeń</h3>
                <p class="inriasans-light mb-3">W kilka minut zdobądź korzystną dla Ciebie Polisę ubezpieczniową!</p>
            </div>
        </div>
    </div>
</div>
<app-calculator></app-calculator>