<div class="modal fade" id="addtypeinsurance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title alata-regular" id="exampleModalLabel">Dodaj rodzaj ubezpieczenia</h5>
          <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-create-type-insurance></app-create-type-insurance>
        </div>
      </div>
    </div>
</div>